<%- include('templates/navbar-cover')  %> 
      <%- include("templates/modal") %>
      <footer class="mt-auto text-white-50">
        <p>Siguenos en <a href="https://getbootstrap.com/" class="text-white">Facebook</a>, y <a href="https://twitter.com/mdo" class="text-white">Twitter</a>.</p>
      </footer>
    </div>
    
<script src="js/bootstrap.js"></script>
<script src="/js/modal-section.js"></script>
  </body>
</html>