<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icons/icon-logo.png"  type="image/x-icon">
    <title>Jaso Visual  </title>
    <meta name="keywords" content="diseño web, edicion visual, edicion de videos, editor, fotografo ">
  	<meta name="description" content="">
  	<meta name="author" content="jaso.samaritano5@gmail.com">
	<meta name="owner" content="jaso visual">
	<meta name="robots" content="index, follow">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/carousel.css">
</head>
<body>
