   <!--modal section-->
   <div class="container-section ">
    <div class="modal-container">
        <div class="modal modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Dí hola</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="">
                <div class="form-floating mb-3">
                  <input type="nombre" class="form-control rounded-4" id="floatingInput" placeholder="name">
                  <label for="floatingInput">Tu nombre</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Correo</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea name="message" id="message" placeholdr="texto" cols="30" rows="10" class="form-control rounded-4" style="min-height: 60px; max-height: 180px;"></textarea>
                  <!--<input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">-->
                  <label for="floatingInput">Mensaje</label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Enviar</button>
                <!--<small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>-->
                <hr class="my-2">
                <h2 class="fs-5 fw-bold mb-2">Tambien visita nuestras redes sociales</h2>
                <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                  <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
                  Twitter
                </button>
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
                  <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
                  Facebook
                </button>
                <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
                  <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
                  Youtube
                </button>
              </form>
            </div>
          </div>
    </div>
  </div>