<main>
  
  <header class="p-3 bg-dark text-white fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="img/logo/logo-jv.png" alt="" class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap">
          </a>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="nosotros" class="nav-link px-2 text-white">Nosotros</a></li>
          <li><a href="proyectos" class="nav-link px-2 text-white">Proyectos</a></li>
          <li><a href="#" class="nav-link px-2 text-white modal-open">Contactos</a></li>
          <li><a href="unirse" class="nav-link px-2 text-white">Unirse</a></li>
        </ul>
        <!--
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <!--<div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div> -->
      </div>
    </div>
  </header>
</main>